[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
structlog = "*"
fileperms = "*"
toml = "*"
jinja2 = "*"

[dev-packages]
versionner = "*"
colorama = "*"
twine = "*"
wheel = "*"
smtpc = {editable = true, path = "."}
pytest = "*"

[requires]
python_version = "3.9"
